* {margin: 0; padding: 0;}

a { 
  color: #fff;
  text-decoration: none; 
}
nav{
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: -10px;
  position: relative;
}

nav ul li {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 800;
  color: grey;

  padding-right: 40px;
  padding-left: 40px;
}

nav ul a li {
  transition: color .3s ease;
}
nav ul a li:hover {
  color: #fff; 
  background-color: #ff7784;
  width: 200px;
  height: auto;
}

nav ul {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}
.room_header{
  text-align: center;
  margin-top: 90px;
}
.room_header h1{
  font-size: 3.5rem;
  font-weight: 800;
  color: #00aac3;
}
.room_container{
  display: block;
  text-align: center;
  margin-top: 30px;
}

.room_list {

    list-style-type: none;
    width: 100%;
    text-align: left;
    display: block;
}

/*since I added an extra class for you, I am using the same still as before, make any changes as you wish*/
.btn_book, 
.btn_more_info {
  width: 200px;
  height: 60px;
  padding: 10px;
  margin-top: 30px;
  float: right;
  margin-right: 30px;
  background-color: #ff7784;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}
.center {
  text-align: center;
  vertical-align: middle;
  margin-right: 35%;
  cursor: pointer;
}
.room_detail {
  display: block;
  width: 100%;
}
.room_detail img {
  width: 100%;
}
.room_detail ul {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
}
.room_detail p {
  display: block;
  font: bold 30px/1.5 Helvetica, Verdana, sans-serif;
  vertical-align: middle;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 2rem;

}
.title_name{
  display: block;
  background-color: #00aac3;
  height: 100px;
}
.title_name h2{
  text-align: center;
  color: white;
  font-size: 3rem;
  padding: 20px;
}
h3 {
  font: bold 20px/2.0 Helvetica, Verdana, sans-serif;
  margin-top: -13px;
}

li img {
  float: left;
  margin-right: 40px;
}

li h1 {
  font: 800 14px/1.5 Helvetica, Verdana, sans-serif;
  color: grey;
}
li p {
  font: 300 11px/1.5 Georgia, Times New Roman, serif;
}

li {
  padding: 20px;
  overflow: auto;
}

li:hover {
  background: #eee;
  cursor: pointer;
}

.crop {
 overflow: hidden;
}
.crop img {
   width:280px;
   height:220px;
   object-fit:cover;

}

/*Room Information Page*/
.room_name {
  font: 300 14px/1.5 Helvetica, Verdana, sans-serif;
  color: white;
  background-color: #ff7784;
}

.back_btn {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #bbbbbb;
  position: absolute;
  margin-top: 50px;
  margin-left: -20px;
  cursor: pointer;
}
.arrow {
  opacity: 0.6;
  margin-top: 20px;
  display: inline-block;
}
.room1 {
  display: block;
}
.room_detail img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.close {
  width: 20px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    padding-bottom: 120px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Booking Information Page*/
.display_box {
  display: block;
}
.display_box img {
  width: 100%;
  display: block;
  height: auto;
  margin-bottom: 50px;
}
.display_text {
  display: block;
  padding: 20px;
}
.display_text p{
  display: inline-block;
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 60px;
}
.display_text input {
  font-size: 2.6rem;
  width: 500px;
  height: 80px;
  background-color: floralwhite;
  display: inline-block;
  margin-left: 40px;
}
.btn_pay {
  width: 300px;
  height: 100px;
  padding: 10px;
  margin-top: 30px;
  float: right;
  margin-right: 60px;
  background-color: #ff7784;
  color: #fff;
  font-size: 2.6rem;
  cursor: pointer;
}
/*
Payment Information Page*/
.payment_user_info {
  display: block;
}
.payment_form {
  padding: 30px;
  margin-top: 60px;
}
.payment_form h4 {
  display: inline-block;
  font-size: 3rem;
  margin-bottom: 80px;
  margin-right: 30px;
}

.hotel_logo {
vertical-align: bottom;
    display: inline-block;
    width: 120px;
    height: 120px;
    float: right;
    margin-right: 150px;
    margin-top: -30px;
}

.card_logo {
  vertical-align: middle;
  display: inline-block;
}
.card_logo img {
  display: inline-block;
  width: 150px;
  height: 110px;
  margin-right: 20px;
}
.card_input {
  display: inline-block;
    width: 400px;
    height: 60px;
    background-color: aliceblue;
    vertical-align: middle;
    font-size: 2.8rem;
}
.date_input {
  display: inline-block;
  width: 200px;
  height: 60px;
  background-color: aliceblue;
  vertical-align: middle;
  font-size: 2.8rem;
}
.confirm_btn{
  display: block;
  width: 300px;
  height: 90px;
  padding: 10px;
  background-color: #ff7784;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 360px;
}

/*Confirmation Page*/
.confirm_body {
  background-color: black;
}
.logo_final {
  display: block;
  
}
.logo_final img {
  width: 300px;
    height: 300px;
    margin-left: 360px;
    margin-top: 400px;
    text-align: center;
}
.confirm_info {
  display: block;
}
.confirm_info h1{
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  margin-top: 100px;
  color: white;
}
.confirm_info p {
      font-size: 2rem;
    font-weight: 400;
    color: white;
    margin-top: 100px;
    padding: 40px;
    text-align: center;
}
.return_hp h6{
  margin-top: 100px;
  text-align: center;
  color: #e06231;
  font-size: 2.5rem;
}